#header{
	width: 100%;
	margin: auto; 
	padding-left: 15%;
	padding-right: 15%;
	background-color: #382829;
	position: sticky;
	top: 0;
}
#header-img{
  height: 60px;
}
@media (max-width: 414px) {
	#header{
		width: 100%;        
	} 
}