#reviews{
  padding-top:120px;
  //text-align: center;
  background-color:#ffffff;
}

// reviewshow container 
.reviewshow-container {
  margin: 5%;
  position: relative;
  padding: 50px;
  //height: 350px;
  box-shadow: 5px 8px 16px 10px rgba(0,0,0,0.2);
  //background: #f1f1f1f1;
}

// reviews 
.myreviews {
  display: none;
  padding: 80px;
  text-align: center;
}

// Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    //background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #956b45;
}

//itallic for quotes
q {font-style: italic;}

.customer{
  color: #956b45;
}
.rating{
  text-align: center;
}
  
.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}
@media (max-width: 768px) {
  .reviewshow-container{
    margin: 5%;
    padding: 3%;
  }
  .myreviews{
    padding: 40px;
  }
}