@forward 'globals';
@forward 'layout';
@forward 'nav';
@forward 'forms';
@forward 'header';
@forward 'reviews-slideshow';


.container{
    width: 100%;
}
.img-fluid{
  width: 100%;  
}

.title{
  font-size: 24px;
  color: #f6ab4a;
  text-align: center;
}

.highlight{
    color:#956b45;
    font-weight: 700;
}

#main{
  background-image: url("img/tahos2.png");
  min-height: 600px; 
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden-title{
  display: none;
}

.main-title{
  height: 90vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 4px 4px #ffffff;
  color: #352618;
}

#product{
     width: 100%;
     padding-left: 5%;
      padding-right:5%;
      margin: auto;
      padding-top:120px;
      background-color:#ffffff;
}
#product-video{
   margin: auto;
    width: 100%;
    overflow: hidden;
}

.benefits{
    margin: auto;
    width: 100%;
    justify-content: center;
    padding: 30px;
    text-align: center;
  }
.benefits-card{
    border:1px solid #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #efe3d5;
}
.icons{
    font-size: 50px;  
}

#favourites{
  padding-top: 120px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  text-align: center;
  background-color: white;
}
.favourites-card {
  max-width: 250px;
  flex: 1 1 250px;
  min-height: 300px;
  margin: 15px;
  background: #efe3d5;
  padding-bottom: 20px;
  border-radius: 10px;
}
  
.price {
  color: grey;
}
  
.favourites-card button {
  max-width: 150px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
  
.favourites-card button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  #favourites{
    padding-left: 5%;
    padding-right: 5%;
  }  
}

#branches{
  margin: auto;
  width: 100%;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 #353232;
  padding: 30px;
  color: #000;
}
.ref{
  color:#000000;
}
.ref:hover{
  color: #d39b46;
}
#parallax {
  background-image: url("img/header3.jpg");
  min-height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fa-glass-water{
  font-size: 25px;
  color: #f6ab4a;
}
footer{
  padding: 10px;
  background-color: #382829;
  color:white;
  text-align: center;
}
