.row{
    display: flex;
    //background-color: white;
    justify-content: center;
    width: 100%;
    
}
.row2{
    display: flex;
    background-color: white;
    
}
.row3{
    display: flex;
    //background-color: white;
    //color: white;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}
.row4{
    display: flex;
    //padding:40px;
}

.col{
   // flex: 50%;
   padding: 10px;
}
.col2{
    //flex: 50%;
}
.col3{
    //flex: 50%;
    padding: 40px;
    margin: auto;
   
}
.col4{
    flex: 100%;
    padding:10px;
    
}
.col5{
    flex: 70%;
    padding:10px;
    
}
.col6{
    flex: 30%;
    padding:10px;
    
}
@media (max-width: 768px) {
    .row2 {
        flex-direction: column;
    }
    .col2{
        flex: 100%;
    }
    .row3{
        flex-direction: column;
    }
    .col3{
        flex:100%
    }
    .row4{
        flex-direction: column;
    }
    .col5{
        flex:100%
    }
    .col6{
        flex:100%
    }

}
.row5{
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 412px) {
    .row {
      flex-direction: column;
    }
    .col{
        flex: 100%;
    }
}